---
title: template1 page title!
description: This is template1 description.
---
<!doctype html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

<h1>Hello Handlebars! - {{ title }}</h1>

<hr>

<p>{{ description }}</p>

<hr>

<ul>
<li>{{ config.prop1 }}</li>
<li>{{{ config.prop2 }}}</li>
</ul>

<hr>

<div style="border:2px solid green;margin:0 0 20px;">
	<h2>each example - rendering products</h2>
	<ul>
	{{#each config.products}}
		<li>{{ name }} - {{ price }} yen</li>
	{{/each}}
	</ul>
</div>

</body>
</html>
